numpy==1.18.5
matplotlib==3.1.2
cython==0.29.14
#tensorflow-gpu==2.2.0
tensorflow==2.9.3
tensorboard==2.2.0
Keras==2.3.1
jupyter==1.0.0
#pycocotools==2.0.0
multiprocess==0.70.9
pandas==0.25.3
opencv-python==4.1.2.30
tensorflow-serving-api==2.2.0
albumentations==0.4.3
easydict==1.9
onnxconverter-common
onnxruntime==1.1.1
pytest
coverage==5.0.3
keras2onnx==1.6.0
seaborn==0.10.0
image-classifiers==1.0.0
tensorflow-probability
easyimages
tensorboard_plugin_profile
mlflow
keract
spektral
altair


